nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  padding-top: 25px;
  height: 8vh;
}

a {
  text-decoration: none;
  color: black;
}

.li-nav-bar > a:hover,
.sortby > li > a:hover {
  border-bottom: 1px solid;
}

.nav-bar,
.sortby {
  display: flex;
}

.sortby {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sortby > li {
  margin-right: 100px;
  font-size: x-large;
}

.li-nav-bar {
  margin-right: 35px;
  list-style: none;
}

.icon-user,
.border-left {
  border-left: 1px solid;
  height: 25px;
  padding-left: 15px;
}

.icon-search,
.icon-user {
  font-size: x-large;
}

.icon-search {
  margin-right: 0;
  transition: 0.3s;
}

.icon-search:hover {
  font-size: 26px;
}

.icon-user {
  margin-right: 10px;
  margin-left: 35px;
  color: #006546;
}

.upper-logo {
  font-size: xxx-large;
  font-style: italic;
  margin-top: 5px;
  color: #619e44;
  font-weight: 350;
  margin-bottom: 10px;
}

.header {
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
  margin-top: 0;
  padding-bottom: 5px;
}

/* log-out box -display none by default! */

/* .log-in:hover {
  display:block;
} */
.log-out-box {
  box-shadow: 2px 1px 12px 1px rgba(148, 148, 148, 1);
  width: 150px;
  padding: 20px;
  position: absolute;
  right: 217px;
  top: 72px;
  display: none;
}

.list-icons,
.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.list-img {
  height: 300px;
}

.list {
  width: 320px;
  padding: 50px;
}

.like-count {
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
  font-style: italic;
}

.recipe-title,
.list {
  list-style: none;
  font-size: medium;
}

.rate-count {
  margin: 0;
  padding: 0 0 0 7px;
}

.icon-right {
  padding: 3px;
  font-size: larger;
  transition: 0.3s;
}

.icon-right:hover {
  font-size: x-large;
  cursor: pointer;
}

.resipes-list {
  display: flex;
  flex-wrap: wrap;
}

.sub-description {
  width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.show-more-wrapper {
  display: flex;
}

.more {
  color: rgb(114, 114, 114);
  margin-left: 5px;
}

.more:hover {
  color: rgb(87, 87, 87);
}

/* Recipe Page styling below */

.recipe-page-img {
  height: 450px;
}

.recipe-page-wrapper {
  display: flex;
  margin: 0 130px 50px;
}

.column-right {
  margin-top: 50px;
  margin-left: 40px;
}

.column-left {
  margin-top: 50px;
}

.instructions {
  list-style: none;
  margin: 10px;
}

.recipe-page-ul {
  margin: 0;
  padding: 0;
}

.recipe-page-ul input {
  margin-right: 10px;
}

form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 80%;
  margin-bottom: 50px;
}

label {
  display: block;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-right {
  top: 20px;
}

.input-one {
  width: 300px;
  padding: 10px 20px;
  margin: 15px;
  background-color: rgb(240, 240, 240);
  border: 0.7px solid;
}

.input-select {
  background-color: rgb(240, 240, 240);
  width: 340px;
  padding: 10px 20px;
  margin: 15px;
}

.form-instructions,
.form-ingredients {
  background-color: rgb(240, 240, 240);
  width: 200px;
  padding: 10px 20px;
  margin: 15px;
  border: 0.7px solid;
}

.form-add-btn {
  width: 80px;
  padding: 10px 20px;
  border: 0.7px solid;
  background-color: #447558;
  color: white;
}

.form-description {
  width: 330px;
  margin: 15px;
  border: 0.7px solid;
  background-color: rgb(240, 240, 240);
}

.upload-file-wrapper {
  border: 0.7px solid;
  width: 305px;
  padding: 10px 20px;
}

.form-upload {
  display: block;
  margin: 15px;
}

.input-upload-wrapper {
  display: block;
  border: 0.7px solid;
  width: 300px;
  padding: 10px 20px;
  background-color: rgb(240, 240, 240);
}

.input-uload {
  border: transparent;
}

.ul-wrapper {
  display: flex;
}

.center-title,
.submit-button {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 10px 150px;
  background-color: #006546;
  color: white;
  border: 0.7px solid;
  font-size: large;
  margin: auto;
  margin-bottom: 100px;
}

.submit-button:hover,
.form-add-btn:hover {
  background-color: #024f38;
}

.ul-ingredients,
.ul-instructions {
  list-style: square;
}

.footer-top,
.footer-bottom {
  display: flex;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  font-size: x-large;
  padding: 5px;
}

.footer-right {
  margin-left: 1000px;
  display: flex;
}

.footer-bottom,
.footer-ul {
  display: flex;
  align-items: center;
}

.footer-ul {
  list-style: none;
  margin-right: 540px;
}

.footer-list {
  margin-right: 30px;
  border-left: 1px solid;
  padding-left: 25px;
}

.footer-terms {
  padding-right: 25px;
  margin-left: 75px;
}

.footer-list:hover,
.footer-terms:hover {
  color: #024f38;
}

.bottom-logo {
  font-style: italic;
  color: #619e44;
}

.footer-wrapper {
  padding-bottom: 60px;
  background-color: rgb(244, 244, 244);
}

/* log in styling  */

.log-in-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px;
}

.log-in-header {
  width: 500px;
  height: 100vh;
  border: 0.9px solid;
  margin: auto;
}

.log-in-logo {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0ede4;
  font-style: italic;
  font-size: x-large;
  color: white;
  font-weight: lighter;
}

.log-in-join-now {
  display: flex;
  justify-content: space-between;
  margin: 5px 75px;
}

.log-in-join-now p {
  margin: 0;
}

.log-in-email,
.log-in-password {
  border: 0.7px solid;
  width: 300px;
  padding: 10px 20px;
  background-color: rgb(240, 240, 240);
  margin: 30px;
}

.log-in-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgot-password,
.p-join-now {
  margin-top: 10px;
  border-bottom: 0.7px solid;
  color: blue;
}

.p-join-now {
  margin-left: 10px;
}

.forgot-password:hover,
.p-join-now:hover {
  color: rgb(0, 0, 152);
}

.log-in-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-btn button {
  padding: 10px 40px;
  background-color: #006546;
  color: white;
  font-size: larger;
  font-style: italic;
  font-weight: 30;
  border: transparent;
}

.log-in-btn button:hover {
  background-color: #004b35;
}

.log-in-icon {
  font-size: xx-large;
  font-weight: lighter;
}

.join-now {
  display: flex;
  justify-content: center;
  align-items: center;
}
