nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  padding-top: 25px;
  height: 8vh;
}

a {
  text-decoration: none;
  color: black;
}

.li-nav-bar > a:hover,
.sortby > li > a:hover {
  border-bottom: 1px solid;
}

.nav-bar,
.sortby {
  display: flex;
}

.sortby {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sortby > li {
  margin-right: 100px;
  font-size: x-large;
}

.li-nav-bar {
  margin-right: 35px;
  list-style: none;
}

.icon-user,
.border-left {
  border-left: 1px solid;
  height: 25px;
  padding-left: 15px;
}

.icon-search,
.icon-user {
  font-size: x-large;
}

.icon-search {
  margin-right: 0;
}

.icon-user {
  margin-right: 10px;
  margin-left: 35px;
  color: #006546;
}

.upper-logo {
  font-size: xxx-large;
  font-style: italic;
  margin-top: 5px;
  color: #619e44;
  font-weight: 350;
  margin-bottom: 10px;
}

.header {
  /* border-bottom: 1px solid rgba(148, 148, 148, 1); */

  /* box-shadow: 3px 2px 14px 1px rgba(148, 148, 148, 1); */
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
  margin-top: 0;
  margin-bottom: 100px;
  padding-bottom: 5px;
}

.log-out-box {
  /* border: 1px solid black; */
  box-shadow: 2px 1px 12px 1px rgba(148, 148, 148, 1);
  width: 150px;
  padding: 20px;
  position: absolute;
  right: 217px;
  top: 72px;
  display: none;
}

/* .log-in:hover {
  display:block;
} */

.list-icons,
.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.list-img {
  height: 300px;
}

.list {
  width: 320px;
}

.like-count {
  text-align: right;
  margin-top: 0;
  font-size: small;
  font-style: italic;
}

.recipe-title,
.list {
  list-style: none;
  font-size: medium;
}

.rate-count {
  margin: 0;
  padding: 0 0 0 7px;
}

.icon-right {
  padding: 3px;
  font-size: larger;
  transition: 0.3s;
}

.icon-right:hover {
  font-size: x-large;
  cursor: pointer;
}

.resipes-list {
  display: flex;
  justify-content: space-around;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 25%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 8px;
  border-radius: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.instructions {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
